.clock {
	/*background-repeat: no-repeat;
	background-size: 100%;
	padding: 0;
	width:370px;
	height: auto;
	position: fixed;
	top: -10px;
	left: -190px;*/

	-webkit-perspective:130px;
	perspective:130px;

	/*-webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222);*/
}

.clock-wrap {

	width:650px;

	/*margin: 0 0 0 -35px;*/
	margin-left: auto;
	margin-right: auto;
	padding:8px 13px;

	/*background-color:rgba(255,255,255,.6);*/
	border-radius: 12px;
	/*box-shadow:inset 0px 2px 10px rgba(0,0,0,.6);*/

	position: relative;

    /*-webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

	-webkit-transform: scale(0.5,0.5) rotateY(-2deg);
	transform: scale(0.5,0.5) rotateY(-2deg);*/
}

.clock-wrap-small {
	/*margin: 0 0 0 -35px;*/
	margin-left: -170px;

	-webkit-transform: scale(0.44,0.44) rotateX(-2deg);
	transform: scale(0.44,0.44) rotateX(-2deg);

}

.clock-wrap-large {
	width:700px;

	-webkit-transform: scale(1,1) rotateX(-2deg);
	transform: scale(1,1) rotateX(-2deg);

	/*-webkit-transform: scale(0.44,0.44) rotateX(-2deg);
	transform: scale(0.44,0.44) rotateX(-2deg);*/

}

.clock-wrap-countdown {
	width:450px;

	-webkit-transform: scale(0.8,0.8) rotateX(-2deg);
	transform: scale(0.8,0.8) rotateX(-2deg);

}

.sec-wrap,
.min-wrap,
.hour-wrap{
	width:200px;
	height:200px;

	display: inline-block;
	position: relative;
}

.min-wrap, .sec-wrap{
	margin-left: 5px;
}


.digit-top,
.digit-bottom{
	width:200px;
	height:98px;
	position: absolute;
}

.clock-wrap .front, .clock-wrap .back{
	width: 200px;
	height: 98px;
	position: absolute;
	overflow: hidden;


    /*-webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);*/

	transform: rotateZ(360deg);

	color:#eee;
	text-align: center;
	/*// font: 700 150px Helvetica, Arial, sans-serif;*/
	font-size: 150px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 700;
	padding:0px;
 	margin:0px;

	text-shadow:1px 1px 1px #000;
	box-shadow:0px 1px 5px rgba(0,0,0,.6);

	transition: transform 800ms, z-index 800ms;
	-moz-transition: -moz-transform 800ms, z-index 800ms;
	-webkit-transition: -webkit-transform 800ms, z-index 800ms;
	-o-transition: -o-transform 800ms, z-index 800ms;

	background-image: -ms-linear-gradient(bottom, #222222 0%, #333333 100%);
	background-image: -moz-linear-gradient(bottom, #222222 0%, #333333 100%);
	background-image: -o-linear-gradient(bottom, #222222 0%, #333333 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #222222), color-stop(1, #333333));
	background-image: -webkit-linear-gradient(bottom, #222222 0%, #333333 100%);
	background-image: linear-gradient(to top, #222222 0%, #333333 100%);

	-webkit-transform-style: preserve-3d;
  	perspective: 200px;

}

.clock-wrap .front{
	z-index: 30;

	border-radius: 5px 5px 0px 0px;


    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);


	transform-origin: 0px 99px;
	-webkit-transform-origin: 0px 99px;
	-moz-transform-origin: 0px 99px;
	-o-transform-origin: 0px 99px;

	transform: rotateZ(360deg);
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
    backface-visibility: hidden;
}

.clock-wrap .back{
	z-index: 20;
	top:100px;

	border-radius: 0px 0px 5px 5px;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

	transform-origin: 0px -1px;
	-webkit-transform-origin: 0px -1px;
	-moz-transform-origin: 0px -1px;
	-o-transform-origin: 0px -1px;

	transform: rotateZ(360deg);
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
    backface-visibility: hidden;


    line-height:5px;
}


.digit-top{
	line-height:200px;
	border-radius:8px 8px 2px 2px;
	top:4px;
	z-index: 10;
}

.digit-bottom{
	top: 104px;
	background-color: #222;
	line-height:5px;
	border-radius:2px 2px 8px 8px;
	z-index: 5;
}

.digit-bottom .front{
	border-radius: 0px 0px 5px 5px;
}

.digit-bottom .front > div,
.meridiem{
	font-size: 24px;
	position: absolute;
	left:8px;
	top: 44px;
  text-transform: uppercase;
}
